###`Q-1:` Write a program to create an empty series.

In [7]:
# code here
import pandas as pd
import numpy as np
empty_series=pd.Series()
print(empty_series)

Series([], dtype: object)

###`Q-2:` Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [ ]:
# code here
import pandas as pd

# Create two Pandas Series
series1 = pd.Series([10, 20, 30, 40])
series2 = pd.Series([5, 10, 15, 20])

# Addition
add_result = series1 + series2
print("Addition:\n", add_result)

# Subtraction
subtract_result = series1 - series2
print("\nSubtraction:\n", subtract_result)

# Multiplication
multiply_result = series1 * series2
print("\nMultiplication:\n", multiply_result)

# Division
divide_result = series1 / series2
print("\nDivision:\n", divide_result)

###`Q-3` Write a Pandas program to compare the elements of the two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [ ]:
# code here
import pandas as pd

# Create two Pandas Series
series1 = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
series2 = pd.Series([10, 25, 30, 45], index=['a', 'b', 'c', 'd'])

# Compare if elements are equal
equal_result = series1 == series2
print("Equality comparison:\n", equal_result)

# Compare if elements are not equal
not_equal_result = series1 != series2
print("\nInequality comparison:\n", not_equal_result)

# Compare if elements of series1 are greater than series2
greater_result = series1 > series2
print("\nGreater than comparison:\n", greater_result)

# Compare if elements of series1 are less than series2
less_result = series1 < series2
print("\nLess than comparison:\n", less_result)

# Compare if elements of series1 are greater than or equal to series2
greater_equal_result = series1 >= series2
print("\nGreater than or equal comparison:\n", greater_equal_result)

# Compare if elements of series1 are less than or equal to series2
less_equal_result = series1 <= series2
print("\nLess than or equal comparison:\n", less_equal_result)

###`Q-5.`Write a function to change the data type of given a column or a Series. Function takes series and data type as input, returns the converted series.
```
series = pd.Series([1,2,'Python', 2.0, True, 100])
change to float type data
```
Note: Read about pd.to_numeric()

In [15]:
# code here
series=pd.Series([1,2,3,4,5])
print(series.dtype)
series_float=series.astype(float)
print(series_float)

int64
0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

Download data - https://drive.google.com/file/d/1LRhXwbEodeWXtzPhJCX0X9Lf_BECzvqb/view?usp=share_link
All Batsman runs series in IPL 2008 to 2022.

Below questions are based on this data.

###`Q-6` Find top 10 most run getter from the series.

In [19]:
# code here
import pandas as pd
# from IPython.display import display
# import ipywidgets as widgets

# # Create an upload button
# upload_button = widgets.FileUpload(accept='.csv', multiple=False)

# Display the button
# display(upload_button)
batter=pd.read_csv(r'C:\Users\alok7\Downloads\batsman_runs_series.csv')
# batter.duplicated().sum()
print(batter)
batter.sort_values( by='batsman_run',ascending =False).head(10)

             batter  batsman_run
0    A Ashish Reddy          280
1          A Badoni          161
2        A Chandila            4
3          A Chopra           53
4       A Choudhary           25
..              ...          ...
600      Yash Dayal            0
601   Yashpal Singh           47
602     Younis Khan            3
603    Yuvraj Singh         2754
604          Z Khan          117

[605 rows x 2 columns]

             batter  batsman_run
569         V Kohli         6634
462        S Dhawan         6244
130       DA Warner         5883
430       RG Sharma         5881
493        SK Raina         5536
27   AB de Villiers         5181
108        CH Gayle         4997
339        MS Dhoni         4978
452      RV Uthappa         4954
256      KD Karthik         4377

###`Q-7` No of players having runs above 3000

In [40]:
# code here
batter[batter.batsman_run>3000].count()

batter         20
batsman_run    20
dtype: int64

###`Q-8` No of players having runs above mean value?

In [48]:
# code here
a=batter.batsman_run.mean()
batter[batter.batsman_run>a].count()

batter         128
batsman_run    128
dtype: int64

Download data - https://drive.google.com/file/d/1QZuZ5bypUInfVvarHACLAi8tXXHvb8xd/view?usp=share_link

file name - items.csv

###`Q-9`
    i. Read `items.csv` making `item_name` as index.
    ii. Show no of nan values
    ii. Item price is given in $, so convert it to rupees without currency symbol.
    iii. Make data type of newly made series as float.
    iv. Fill nan with mean of the series


How csv file looks

```
item_name	item_price
Chips and Fresh Tomato Salsa	$2.39
Izze	$3.39
Nantucket Nectar	$3.39
Chips and Tomatillo-Green Chili Salsa	$2.39
Chicken Bowl	$16.98

```

In [98]:
# code here
# items=pd.read_csv(r'C:\Users\alok7\Downloads\items.csv',index_col='item_name')
# # use to count total nan value
# items.isna().sum().sum()
# items['item_price (INR)'] = items['item_price'].replace({'/$': '', ',': ''}, regex=True).astype(float) * 80
# items['item_price (INR)'].fillna(items['item_price'].mean())
# items
import pandas as pd

# Sample DataFrame with prices in dollars
data = {'item_name': ['Item1', 'Item2', 'Item3'],
        'item_price': ['$1,000', '$2,500', None]}
items = pd.DataFrame(data)

# Remove '$' and ',' from 'item_price' and convert to float
items['item_price'] = items['item_price'].replace({'$': '', ',': ''}, regex=True).astype(float)

# Fill NaN values in 'item_price' with the mean value of the column
items['item_price'] = items['item_price'].fillna(items['item_price'].mean())

# Convert item_price to INR (assuming 1 USD = 80 INR)
items['item_price (INR)'] = items['item_price'] * 80

# Display the DataFrame
print(items)

ValueError: could not convert string to float: '$1000'

###`Q-10`:
    i. Find mean price
    ii. Find 30th and 6th percentile value
    iii. Plot Histogram on price with bin size 50
    iv. No of items price lies between [1000 to 2000]

In [ ]:
# code here